autopep8==2.3.2
Django==5.2.5
flake8==7.3.0
google-api-python-client==2.179.0
Pillow==11.3.0
psycopg2-binary==2.9.10
pusher==3.3.3
python-dateutil==2.9.0
python-dotenv==1.1.1
whitenoise==6.9.0
google_auth_oauthlib==1.2.2
# uWSGI==2.0.21
